@import '../variables/varibles.scss';
.landPg{
    margin: auto;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid $nav-divs-bg-border;
    .main{
        display: flex;
        gap: 5px;
        button{
            width: 100px;
            height: 40px;
            background-color: $primary-button-color;
            color: #fff;
        }
    }
}