<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
</head>
<body>

    {%for message in messages%}

    <div class="alert alert- {{message.tags}} alaert dismissible fade show" role="alert">

        <strong>message:</strong>{{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    {% endfor %}
    
    <h1>Create account</h1>

    <form action="" method="post"> 
        {% csrf_token %}
    
        <label for="">Username</label>
        <input type="text" id="username" name="username" placeholder="Create a username only letters and numbers" required>
        <br>

        <label for="">FirstName</label>
        <input type="text" id="fname" name="fname" placeholder="fname" required>
        <br>

        <label for="">LastName</label>
        <input type="text" id="lname" name="lname" placeholder="lname" required>
        <br>

        <label for="">Email address</label>
        <input type="email" id="email" name="email" placeholder="enter email" required>
        <br>

        <label for="">Password</label>
        <input type="password" id="password1" name="password1" placeholder="input password" required>
        <br>

        <label for="confirm">Confirm Password</label>
        <input type="password" id="password2" name="password2" placeholder="confirm password" required>
        <br>

    <button type="submit">Create account</button>
    </form>
    
</body>
</html>