<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T-Vibes</title>
</head>
<body>
    <h2>Welcome to T-Vibes - Your home of Music</h2>
    <button type="submit"> <a href="createaccount.html">Create account</a> </button>
    <button type="submit"><a href="login.html">Login</a> </button>
    <button type="submit"><a href="logouut.html">Logout</a> </button>
</body>
</html>
