$primary-bg-color: #F5F5F5;
$text-color: rgba(51, 51, 51, 1);
$primary-button-color: rgba(129, 178, 154, 1);
$highlights: rgba(242, 200, 189, 1);
$highlights-border: rgba(224, 122, 95, 1);
$nav-divs-bg: rgba(203, 223, 214, 1);
$nav-divs-bg-border: rgba(79, 109, 94, 1);
